<!DOCTYPE html>
<html lang="pt-BR">
  <%- include ("../partials/head") %>

  <body>
    <%- include ("../partials/menu") %>

    <div class="container_rain">
      <span class="cloud"></span>
      <span class="cloud"></span>
      <span class="cloud"></span>
    </div>

    <section class="container">
      <div class="image_container">
        <h1>Crie sua conta e...</h1>
        <!-- Título principal motivacional -->
        <p>
          Seja mais um<br />
          do bando de loucos!
        </p>
        <!-- Mensagem para incentivar o usuário a se cadastrar -->
      </div>

      <!-- Formulário de cadastro -->
      <form id="cadastroForm" method="post" action="/login">
        <div class="title">
          <h1>Cadastre-se</h1>
          <!-- Título do formulário -->
          <p>Preencha os campos abaixo e torne-se parte da Fiel!</p>
          <!-- Descrição incentivando o usuário a preencher os dados -->
        </div>

        <!-- Campo de entrada para Nome -->
        <div class="input_data">
          <input type="text" id="nome" name="username" required />
          <!-- Campo para inserir o nome, obrigatório -->
          <label>Nome</label>
          <!-- Rótulo para indicar o que deve ser inserido no campo -->
        </div>

        <!-- Campo de entrada para Senha -->
        <div class="input_data">
          <input type="password" id="senha" name="password" required />
          <!-- Campo para inserir a senha, obrigatório e ocultando os caracteres -->
          <label>Senha</label>
        </div>

        <!-- Área do botão de envio -->
        <div class="btnArea">
          <p class="msgError"></p>
          <!-- Parágrafo onde mensagens de erro serão exibidas caso o usuário preencha algo incorretamente -->

          <button id="btnSubmit" type="submit">Enviar</button>
          <!-- Botão que envia o formulário ao clicar, validando as informações -->
        </div>
      </form>
    </section>
    <%- include ("../partials/footer") %>
  </body>
</html>
