<!DOCTYPE html>
<html lang="pt-BR">
  <%- include ("../partials/head") %>

  <body>
    <%- include ("../partials/menu") %>

    <section class="container">
      <h1><%= error %></h1>
    </section>

    <%- include ("../partials/footer") %>
  </body>
</html>
