<!DOCTYPE html>
<html lang="pt-BR">
  <%- include ('head') %>

  <body>
    <%- include ("../partials/menu") %>
    <!-- Seção principal que contém o formulário -->
    <section class="container">
      <!-- Área com título e mensagem motivacional -->
      <div class="image_container">
        <h1>Crie sua conta e...</h1>
        <!-- Título principal motivacional -->
        <p>
          Seja mais um<br />
          do bando de loucos!
        </p>
        <!-- Mensagem para incentivar o usuário a se cadastrar -->
      </div>
    </section>
    <%- include ("rodape") %>
  </body>
</html>
